@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center; }

.section-secondary {
  margin: 1rem 0; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: .75rem; }

h5 {
  font-size: .5rem; }

h6 {
  font-size: .25rem; }

a {
  text-decoration: none; }

p {
  font-size: 1rem; }

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.weather-today {
  margin: 1rem auto;
  width: 30%;
  padding: 2.5rem 1.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 50%;
  border: .25rem solid green; }

.current-temp {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  margin: .5rem 0; }

.high-temp {
  border-right: 1px solid grey;
  padding-right: .75rem; }

.summary-today {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.summary {
  font-size: 1.5rem;
  font-weight: bold; }

.weather-icon {
  width: auto;
  height: 4rem; }

.weather-extras {
  width: 100%;
  border-top: 1px solid grey;
  padding: 1rem;
  display: flex;
  justify-content: space-around; }

.precip-container,
.wind-container {
  width: 50%; }

.precip-container {
  border-right: 1px solid grey; }

.scroll {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: .5rem;
  margin: 0 auto; }

.forecast-day .weather-icon {
  width: auto;
  height: 2rem; }

.day {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 25%;
  flex: 0 0 auto;
  padding: 0 .5rem; }

.day .precip,
.day .precip-intensity-max,
.day .day-date,
.day .icon-holder,
.day .wind {
  width: 100%;
  margin: .25rem 0; }

.forecast-day .high-temp {
  border-right: 1px solid black;
  padding-right: .25rem; }

.forecast-day .high-temp,
.forecast-day .low-temp {
  width: 45%; }

.forecast.day {
  flex-direction: column; }

.hourly {
  padding: 0 .5rem; }

.footer {
  margin: 2rem auto; }

/*# sourceMappingURL=main.css.map */
