@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center; }

.dark-mode {
  color: #5CE0E0;
  background-color: #343F45; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: .75rem; }

h5 {
  font-size: .5rem; }

h6 {
  font-size: .25rem; }

a {
  text-decoration: none; }

p {
  font-size: 1rem; }

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.location-form {
  margin: 1rem 0; }

.zip,
.button-submit {
  padding: .5rem;
  border: 1px solid grey;
  border-radius: 0.5rem; }

.main {
  display: none; }

.section {
  margin: 1rem 0; }

.section-secondary {
  margin: 1.5rem 0; }

@media (min-width: 670px) {
  .current {
    display: flex;
    justify-content: space-around;
    align-items: center; } }

@media (min-width: 670px) {
  .current-weather-container {
    display: flex;
    width: 50%; } }
@media (min-width: 1024px) {
  .current-weather-container {
    width: 30%; } }

@media (min-width: 670px) {
  .current-details-container {
    display: flex;
    flex-direction: column;
    width: 50%; } }
@media (min-width: 1024px) {
  .current-details-container {
    width: 70%; } }

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: .25rem solid grey;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin: 1rem auto; }

.current-temp {
  font-size: 3rem;
  font-weight: bold;
  width: 100%; }

.current-details {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.current-summary {
  font-size: 1.5rem;
  font-weight: bold; }

.current-extras {
  border-top: 1px solid grey;
  padding: 1rem;
  display: flex;
  justify-content: space-around; }

.precip-container,
.wind-container {
  width: 50%; }

.precip-container {
  border-right: 1px solid grey; }

.current-icon {
  width: auto;
  height: 4rem; }

.forecast-switch {
  display: flex;
  justify-content: space-around;
  padding: .5rem;
  margin: .5rem auto;
  border: 1px solid grey;
  border-radius: 0.5rem; }

.forecast-button {
  padding: 0 1rem; }

.forecast-day,
.forecast-hour {
  border: 1px solid grey;
  padding: .5rem;
  border-radius: 0.5rem;
  display: flex; }

.forecast-legend {
  border-right: 1px solid grey;
  padding-right: .5rem; }
  .forecast-legend p:not(:last-of-type) {
    border-bottom: 1px solid grey;
    margin: .3rem;
    text-align: left;
    padding-bottom: .5rem; }

.day,
.hourly,
.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 1.5rem; }

.forecast-scroll {
  display: flex;
  justify-content: space-between;
  overflow-x: auto; }

.forecast-summary {
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around; }

.daytime-summary,
.evening-summary {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .daytime-summary .weather-icon,
  .evening-summary .weather-icon {
    width: 2rem;
    height: 2rem; }

.day-icon,
.hour-icon {
  width: auto;
  height: 2rem; }

.forecast-hour {
  display: none; }

.day-details {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  .day-details p {
    text-align: left; }
  .day-details span {
    text-align: right; }
  .day-details p:not(:last-of-type),
  .day-details span:not(:last-of-type) {
    width: 50%;
    border-bottom: 1px solid grey;
    padding-bottom: .5rem;
    margin-bottom: .5rem; }

/*# sourceMappingURL=main.css.map */
