// Descriptive base colors
$white      : #fff;
$black      : #000;

// Other colors



// Text
$base__font-size    : 1rem;
$base__line-height  : 1.5;
$letter-spacing     : .0625rem;


// Font stacks
$font-url--google       : "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
$font-family--primary   : "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary : "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;


// Breakpoints
$breakpoint-medium  : 550px;
$breakpoint-large   : 1024px;

// Border-radius
$border-round    : 50%;
$border-default  : .5rem;
