.current {
    @include media("medium") {
        @include flexbox($justify: space-around, $align-items: center);
    }
}
.current-weather-container {
    @include media("medium") {
        @include flexbox();
        width: 50%;
    }
    @include media("large") {
        width: 30%;
    }
}
.current-details-container {
    @include media("medium") {
        @include flexbox($direction: column);
        width: 50%;
    }
    @include media("large") {
        width: 70%;
    }
}

.current-weather {
    @include flexbox($direction: column, $justify: space-evenly);
    border: .25rem solid grey;
    border-radius: $border-round;
    width: 12rem;
    height: 12rem;
    margin: 1rem auto;
}

.current-temp {
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
}

.current-details {
    @include flexbox($justify: space-around, $align-items: center);
}
.current-summary {
    font-size: 1.5rem;
    font-weight: bold;
}

.current-extras {
    border-top: 1px solid grey;
    margin-top: .5rem;
    padding: 1rem;
    @include flexbox($justify: space-around);
}
.precip-container,
.wind-container {
    width: 50%;
}
.precip-container {
    border-right: 1px solid grey;
}

.current-icon {
    width: auto;
    height: 4rem;
}
