.day-details {
    margin: 0 auto;
    padding: 1rem;;
    @include flexbox($direction: row,$justify: space-between, $wrap: wrap);
    p {
        text-align: left;
    }
    span {
        text-align: right;
    }
    p:not(:last-of-type),
    span:not(:last-of-type) {
        width: 50%;
        border-bottom: 1px solid grey;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }


}
