.forecast-switch {
    @include flexbox();
    margin: .5rem auto;
    @include media("medium") {
        justify-content: center;
    }
}

.default-selected {
  color: white;
  background-color: grey;
}

.button-daily,
.button-hourly {
    margin: .5rem;
    width: 50%;
    @include media("medium") {
        align-self: center;
        width: 10%;
    }
}

.forecast-day,
.forecast-hour {
    border: 1px solid grey;
    padding: .5rem;
    border-radius: $border-default;
    @include flexbox($justify: space-between);
}

.forecast-legend {
    border-right: 1px solid grey;
    padding-right: .5rem;
    p:not(:last-of-type){
        border-bottom: 1px solid grey;
        margin: .3rem;
        text-align: left;
        padding-bottom: .5rem;
    }
}

.day,
.hourly,
.summary {
    @include flexbox($direction: column, $justify: space-around, $align-items: center);
    margin: 0 1rem;
    // align-self: start;
}

.forecast-scroll {
    @include flexbox($justify: space-between);
    overflow-x: auto;
    flex-grow: 1;
}

.forecast-summary {
    border: 1px solid grey;
    padding: 1rem;
    border-radius: $border-default;
    @include flexbox();
    @include media("large") {
        // @include flexbox();
    }
}
.daytime-summary,
.evening-summary {
    @include flexbox($direction: column, $align-items: center);
    .weather-icon {
        width: 2rem;
        height: 2rem;
    }
}

.day-icon,
.hour-icon {
    width: auto;
    height: 2rem;
}

.forecast-hour {
    // display: none;
}
// Icon made by [https://www.flaticon.com/authors/iconixar] from www.flaticon.com
// E.g.: Icon made by iconixar from www.flaticon.com
