body {
    font-family: $font-family--primary;
    width: 100%;

}
.wrapper {
    @include flexbox($direction: column);
    margin: 1rem;
    text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: .75rem;
}

h5 {
  font-size: .5rem;
}

h6 {
  font-size: .25rem;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {

}

a:active,
.button:active {

}

p {
  font-size: 1rem;
}

ol {
    // list-style: decimal;
}

ul {
    // list-style: disc;
}

input {

}

input:focus {

}

button {
    border-radius: $border-default;
    font-family: $font-family--primary;
}
